/* Reset CSS for all HTML elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
li,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  transition-duration: 0.2s;
  font-family: var(--font-roboto);
}

div {
  transition-duration: 0.2s;
}

/* Additional CSS reset rules */
body {
  line-height: 1;
}

label {
  display: block;
  display: flex;
  align-items: center;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 8px;
  gap: 5px;
  cursor: pointer;
}
label .text {
  position: relative;
}
label .text.required::after {
  content: "*";
  color: var(--color_warning);
  margin-left: 4px;
  font-size: 20px;
}

input,
select,
textarea {
  background: transparent;
  box-sizing: border-box;
  outline: 0;
  border: var(--black);
  border-radius: 5px;
  padding: 10px;
  color: var(--black);
  font-size: 15px;
  border: 1px solid black;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--brand_color);
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
input,
textarea,
option {
  color: var(--black);
}

a,
span,
i {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

:root {
  --border: 1px solid red;
  --brand_color: rgb(0 112 192);
  --black: black;
  --white: white;
  --font-roboto: "Roboto", sans-serif;
  --color_warning: red;
  --form_width: 630px;
}

.color_1 {
  color: #dc8a73;
}

.color_2 {
  color: #707176;
}

.color_3 {
  color: #769e85;
}

.color_4 {
  color: #baaa89;
}

.color_5 {
  color: #699d92;
}

.color_6 {
  color: #ecae74;
}

.color_7 {
  color: #d78965;
}

.color_8 {
  color: #2b917b;
}

.color_9 {
  color: #3d6fba;
}

.color_10 {
  color: #53666c;
}

.color_11 {
  color: #5a94b0;
}

.bg_color_1 {
  background-color: #dc8a73;
}

.bg_color_2 {
  background-color: #707176;
}

.bg_color_3 {
  background-color: #769e85;
}

.bg_color_4 {
  background-color: #baaa89;
}

.bg_color_5 {
  background-color: #699d92;
}

.bg_color_6 {
  background-color: #ecae74;
}

.bg_color_7 {
  background-color: #d78965;
}

.bg_color_8 {
  background-color: #2b917b;
}

.bg_color_9 {
  background-color: #3d6fba;
}

.bg_color_10 {
  background-color: #53666c;
}

.bg_color_11 {
  background-color: #5a94b0;
}

.d-none {
  display: none !important;
}

.custom_scroll {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll:hover::-webkit-scrollbar {
  width: 7px;
}
.custom_scroll::-webkit-scrollbar {
  width: 0px;
}
.custom_scroll::-webkit-scrollbar-track {
  background: var(--brand_color2);
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb {
  background: var(--brand_color);
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: var(--brand_white2);
}

input.form_checkbox {
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
}
input.form_checkbox::before {
  content: "";
  font-family: "Material Symbols Filled";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--brand_color);
}
input.form_checkbox::after {
  content: "\e876";
  font-family: "Material Symbols Filled";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--brand_color);
  font-weight: 700;
  display: none;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
}
input.form_checkbox:checked::after {
  display: block;
}

body {
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: var(--form_width);
  top: 11vh;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 57%;
  background-blend-mode: multiply;
  opacity: 0.2;
}

.form .form_body {
  padding-top: 20px;
  width: var(--form_width);
  margin: 0 auto;
  position: relative;
}
.form .form_body .class h2 {
  font-size: 14px;
  text-align: right;
  font-weight: 700;
  padding-bottom: 26px;
}
.form .form_body .header {
  display: flex;
  gap: 20px;
  position: relative;
  padding-bottom: 45px;
}
.form .form_body .header .logo {
  width: 105px;
}
.form .form_body .header .logo img {
  width: 100%;
}
.form .form_body .header .information {
  text-align: center;
}
.form .form_body .header .information h2 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}
.form .form_body .header .information h3 {
  font-size: 22px;
  font-weight: 700;
  padding: 17px 0px;
}
.form .form_body .header .information h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}
.form .form_body .header .photo label {
  height: 110px;
  width: 110px;
  position: absolute;
  text-align: center;
  top: 35px;
  right: 0;
  border: 1px solid var(--black);
  line-height: 20px;
}
.form .form_body .header .photo label input {
  display: none;
}
.form .form_body .header .photo label img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.form .form_body label,
.form .form_body p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.form .form_body .heading {
  font-size: 13px;
  line-height: 13px;
  background-color: var(--brand_color);
  color: var(--white);
  letter-spacing: 0.5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form .form_body table {
  width: 100%;
}
.form .form_body table td {
  border: 1px solid var(--black);
  padding: 5px;
  vertical-align: middle;
  font-size: 14px;
}
.form .form_body table td input[type=text] {
  border: 0;
  width: 100%;
  padding: 0;
}
.form .form_body table td:nth-child(1) {
  width: 140px;
  padding-left: 5px;
}
.form .form_body .previous_attemp_module table td,
.form .form_body .category table td,
.form .form_body .education table td {
  text-align: center;
}
.form .form_body .previous_attemp_module table td input,
.form .form_body .category table td input,
.form .form_body .education table td input {
  text-align: center;
}
@media print {
  .form .form_body .category {
    page-break-after: always;
  }
}
.form .form_body .application_for table td {
  font-size: 13px;
  padding: 3px;
}
.form .form_body .application_for table td:nth-child(1), .form .form_body .application_for table td:nth-child(2) {
  text-align: center;
}
.form .form_body .essay {
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: bold;
}
.form .form_body .essay .right {
  display: flex;
  gap: 40px;
  align-items: center;
}
.form .form_body .signature {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 50px;
  font-weight: 600;
}
.form .form_body .signature .right {
  padding-right: 145px;
}
.form .form_body .signature2 {
  padding-bottom: 30px;
}
.form .form_body .signature2 .right {
  padding-right: 0;
}

/*# sourceMappingURL=style.css.map */
